<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-idnow" version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" 
    xmlns:tools="http://schemas.android.com/tools">
    <name>IDnowPlugin</name>
    <asset src="www/IDnowPlugin.js" target="js/IDnowPlugin.js"/>
    <js-module name="IDnowPlugin" src="www/IDnowPlugin.js">
        <clobbers target="IDnowPlugin" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="IDnowPlugin">
                <param name="ios-package" value="IDnowPlugin" />
            </feature>
        </config-file>
        

       <preference name="CAMERA_USAGE_DESCRIPTION" default="This app needs camera access"/>
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$CAMERA_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="MICROPHONE_USAGE_DESCRIPTION" default="This app needs microphone access"/>
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>$MICROPHONE_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="PHOTO_LIBRARY_DESCRIPTION" default="This app needs photo library access"/>
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>This app needs photo library access</string>
        </config-file>
      
        <podspec>
			<config>
				<source url="https://github.com/getsentry/sentry-cocoa.git" />
				<source url="https://github.com/CocoaPods/Specs.git"/>
			</config>
		
            <pods use-frameworks="true">
                <pod name="Alamofire" spec="~> 4.7.1"/>
                <pod name="Starscream" spec="3.1.0"/>
                <pod name="OpenCV2" spec="~> 3.4.1"/>
                <pod name="Sentry" spec="~> 3.4.1"/>
                 <pod name="lottie-ios" />
            </pods>

		</podspec>
        <source-file src="src/ios/IDnowPlugin.m" />
        <framework src="src/ios/sdk/IDNowSDKCore.framework" custom="true" embed="true" />

    </platform>
</plugin>
